[profile.default]

src = 'src'
test = 'test'
libs = ['lib']

out = '../build/core'
cache_path = '../cache/core'

optimizer = true
optimizer_runs = 1000000
gas_reports = []

auto_detect_remappings = true

[fuzz]
runs = 2048
